openapi: 3.0.0
info:
  title: Manifold Markets API
  description: Unofficial documentation for the Manifold Markets API for accessing user, group and market data, and placing bets.
  version: v0.0.20220715.1

servers:
  - url: https://manifold.markets/api
    description: Manifold Markets Production

paths:
  /v0/users:
    get:
      operationId: v0_users_get
      description: "Retrieves all users in a single response. This may be a very large response."
      tags:
        - Users
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
              example:
                - id: ojKdYJvKvdZiWDEyBmEab7kZXYI3
                  createdTime: 1644874384982
                  name: John Beshir
                  username: jbeshir
                  url: https://manifold.markets/jbeshir
                  avatarUrl: https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FJohnBeshir%2FWork%20Avatar%20-%202021-08-01.png?alt=media&token=72ec0636-153a-4467-b93c-41811dc09182
                  bio: Software engineer, GWWC member
                  website: https://beshir.org
                  twitterHandle: ''
                  discordHandle: jbeshir#4381
                  balance: 2319.5365215752595
                  totalDeposits: 43276.359862880505
                  profitCached:
                    weekly: 6679.2715180868545
                    allTime: 69077.7644491101
                    monthly: 30515.138045941363
                    daily: 1992.291918618852
                  creatorVolumeCached:
                    monthly: 0
                    allTime: 10806.436754084798
                    daily: 0
                    weekly: 0

  /v0/user/{username}:
    get:
      operationId: v0_user_get
      description: "Retrieves the user with the given username."
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              example:
                id: ojKdYJvKvdZiWDEyBmEab7kZXYI3
                createdTime: 1644874384982
                name: John Beshir
                username: jbeshir
                url: https://manifold.markets/jbeshir
                avatarUrl: https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FJohnBeshir%2FWork%20Avatar%20-%202021-08-01.png?alt=media&token=72ec0636-153a-4467-b93c-41811dc09182
                bio: Software engineer, GWWC member
                website: https://beshir.org
                twitterHandle: ''
                discordHandle: jbeshir#4381
                balance: 2319.5365215752595
                totalDeposits: 43276.359862880505
                profitCached:
                  weekly: 6679.2715180868545
                  allTime: 69077.7644491101
                  monthly: 30515.138045941363
                  daily: 1992.291918618852
                creatorVolumeCached:
                  monthly: 0
                  allTime: 10806.436754084798
                  daily: 0
                  weekly: 0

  /v0/user/by-id/{user_id}:
    get:
      operationId: v0_user_by_id_get
      description: "Retrieves the user with the given ID."
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              example:
                id: ojKdYJvKvdZiWDEyBmEab7kZXYI3
                createdTime: 1644874384982
                name: John Beshir
                username: jbeshir
                url: https://manifold.markets/jbeshir
                avatarUrl: https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FJohnBeshir%2FWork%20Avatar%20-%202021-08-01.png?alt=media&token=72ec0636-153a-4467-b93c-41811dc09182
                bio: Software engineer, GWWC member
                website: https://beshir.org
                twitterHandle: ''
                discordHandle: jbeshir#4381
                balance: 2319.5365215752595
                totalDeposits: 43276.359862880505
                profitCached:
                  weekly: 6679.2715180868545
                  allTime: 69077.7644491101
                  monthly: 30515.138045941363
                  daily: 1992.291918618852
                creatorVolumeCached:
                  monthly: 0
                  allTime: 10806.436754084798
                  daily: 0
                  weekly: 0

  /v0/me:
    get:
      operationId: v0_me_get
      description: "Retrieves the user the current request is authenticated to. Does not support CORS."
      security:
        - APIKeyAuth: []
        - BearerAuth: []
      tags:
        - Users
      responses:
        "403":
          description: Request is not authenticated
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              example:
                id: ojKdYJvKvdZiWDEyBmEab7kZXYI3
                createdTime: 1644874384982
                name: John Beshir
                username: jbeshir
                url: https://manifold.markets/jbeshir
                avatarUrl: https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FJohnBeshir%2FWork%20Avatar%20-%202021-08-01.png?alt=media&token=72ec0636-153a-4467-b93c-41811dc09182
                bio: Software engineer, GWWC member
                website: https://beshir.org
                twitterHandle: ''
                discordHandle: jbeshir#4381
                balance: 2319.5365215752595
                totalDeposits: 43276.359862880505
                profitCached:
                  weekly: 6679.2715180868545
                  allTime: 69077.7644491101
                  monthly: 30515.138045941363
                  daily: 1992.291918618852
                creatorVolumeCached:
                  monthly: 0
                  allTime: 10806.436754084798
                  daily: 0
                  weekly: 0

components:

  securitySchemes:

    APIKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key authentication. Generate a key from your user profile editing page, then prefix your key with "Key " and pass in the Authorization header.

    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    User:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: integer
          description: UNIX timestamp
        name:
          type: string
        username:
          type: string
        url:
          type: string
          description: URL linking to the user's Manifold profile
        avatarUrl:
          type: string
          description: URL linking to the user's avatar
        bio:
          type: string
        website:
          type: string
          description: URL linking to the user's set personal website
        twitterHandle:
          type: string
        discordHandle:
          type: string
        balance:
          type: number
        totalDeposits:
          type: number
        profitCached:
          type: object
          properties:
            weekly:
              type: number
            allTime:
              type: number
            monthly:
              type: number
            daily:
              type: number
        creatorVolumeCached:
          type: object
          properties:
            monthly:
              type: number
            allTime:
              type: number
            daily:
              type: number
            weekly:
              type: number

